.main{

    width: 1000px;
    background-color: rgb(255, 186, 242);
    margin: auto;
   
}

.flex-columns {
    display: flex;
    gap: 10px;
  }
.column {
    flex: 1;
    padding: 15px;
    
    height: 500px;
    padding: 30px;
  }
h1{
font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
    color:#02421F;
  font-size: 50pt;
    text-align: center;
}

h2{
margin: 50px;
    font-size: 20pt;
    text-align: center;
    color:#02421F;
}
p{
margin-top:  100px;
    font-size: 12pt;
    text-align: center;
    color: #02421F;
}

img{
margin: 50px;
    width: 400px;
}


.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #203d03;
    padding: 100px;
}
.center-box h1{

font-family: 30pt;
color: white;

}

.flex-columns-block2 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    background: #203d03;
    padding: 20px;
}

.column {
    flex: 1; /* рівні 3 колонки */
    padding: 0px;
    text-align: center;
}

.flex-columns-block2 .column img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.flex-columns-block2 h2 {
    color: white;
    font-size: 15pt;
    margin-top: 10px;
}


.flex-columns-block3 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    background: #e4c2de;
    padding: 20px;
}

.flex-columns-block3  .column img {
    width: 100%;
    max-width: 260px;
    height: auto;
}
